<template></template>
<script>
    import firebase from 'firebase/app'
    import '@firebase/firestore'

    export default {
      beforeRouteEnter (to, from, next) {
        const short = to.path.substring(1)
        const db = firebase.firestore()
        const settings = {timestampsInSnapshots: true}
        db.settings(settings)

        const docRef = db.collection('urls').doc(short)
        var original = ''
        db.runTransaction(function (transaction) {
          return transaction.get(docRef).then(function (url) {
            if (!url.exists) {
              throw new Error('URL did not exist')
            }
            var newClicks = (url.data().clicks || 0) + 1
            transaction.update(docRef, {
              clicks: newClicks,
              lastClicked: firebase.firestore.FieldValue.serverTimestamp()
            })
            original = url.data().original
          })
        }).then(function () {
          if (original.startsWith('http://') || original.startsWith('https://')) {
            window.location = original
          } else {
            window.location = 'http://' + original
          }
        }).catch(function (error) {
          console.log(error)
          window.location = '/'
        })
      }
    }
</script>